* {
    box-sizing: border-box;
}
.box {
    margin: 10px;
    padding: 10px;
    background: black;
    opacity: 80%;
    color: white;
    border: 10px solid #ff0000;
    width: 100px;
    height: 50px;
}
.box:nth-child(4) {
    order: -1;
    font-size: 3vw;
}
.parent {
    border: 10px solid #ffa60031;
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 10px;
}

.box {
    font-size: inherit;
}